@{
    ViewData["Title"] = "Search";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eHotels</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/searchBar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/search.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/form.css" asp-append-version="true" />
</head>

<body>

    <div class="form-overlay" style="display: none;">
        <div class="form-container">
            <button class="close-button">X</button>
            <div class="form-title">Booking Information</div>
            <div class="line-break"></div>
            <div class="booking-hotel-info">Hotel Name, Room capacity, View</div>

            <select class="id-select">
                <option selected>choose id Type</option>
                <option>SSN</option>
                <option>Drivers License</option>
                <option>Passport</option>
            </select>

            <input type="text" placeholder="ID Number"/>
            <input type="text" placeholder="First Name"/>
            <input type="text" placeholder="Last Name"/>

            <div class="inline-inputs" style="grid-template-columns: 1fr 1fr;">
                <input type="text" placeholder="street number"/>
                <input type="text" placeholder="street name"/>
                <input type="text" placeholder="province"/>
                <input type="text" placeholder="country"/>
                <input type="text" placeholder="postal code"/>
            </div>

            <div class="inline-inputs" style="grid-template-columns: 1fr 1fr;">
                <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="startDate" placeholder="Start Date" value="@Context.Request.Query["startDate"]"/>
                <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="endDate" placeholder="End Date" value="@Context.Request.Query["endDate"]"/>
            </div>

            <input type="text" placeholder="Phone number"/>
            <button class="submit-button">Book!!</button>
        </div>
    </div>

    <div class="search-bar">
        <form id="search-form" action="/Home/Search" method="get">
            <input class="hotel-search" type="text" name="search" placeholder="Search Hotels..." value="@Context.Request.Query["search"]"/>
            <input class="area" type="text" name="area" placeholder="Area" value="@Context.Request.Query["area"]"/>
            <input class="capacity" type="number" name="capacity" placeholder="Capacity" value="@Context.Request.Query["capacity"]"/>
            <input class="start-date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="startDate" placeholder="Start Date" value="@Context.Request.Query["startDate"]"/>
            <input class="end-date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="endDate" placeholder="End Date" value="@Context.Request.Query["endDate"]"/>
            <button class="submit">
                <img class="search-img" src="https://static.vecteezy.com/system/resources/thumbnails/009/652/218/small/magnifying-glass-icon-isolated-on-white-background-search-illustration-vector.jpg" />
            </button>
        </form>
    </div>

    <div class="filters-holder">
        <div class="filters-title">Filters:</div>

        <div class="select-holder">
            <div class="select-title">Rating:</div>
            <select name="stars" form="search-form" class="option-select">
                <option value=0 selected>Any</option>
                <option value=1 >1⭐</option>
                <option value=2 >2⭐</option>
                <option value=3 >3⭐</option>
                <option value=4 >4⭐</option>
                <option value=5 >5⭐</option>
            </select>
        </div>

        <div class="select-holder">
            <div class="select-title">View:</div>
            <select name="view" form="search-form" class="option-select">
                <option value="ANY" selected>Any</option>
                <option>Sea</option>
                <option>Land</option>
                <option>Grass</option>
            </select>
        </div>

        <div class="select-holder">
            <div class="select-title">Price Range:</div>
            <input name="minPrice" form="search-form" class="price-input" min="1" max="999" type="number" placeholder="min"/>
            -
            <input name="maxPrice" form="search-form" class="price-input" min="1" max="999" type="number" placeholder="max"/>
        </div>

        <div class="select-holder">
            <div class="select-title">Total Rooms:</div>
            <input name="minRoomCount" form="search-form" class="rooms-input" min="1" max="10000" type="number" placeholder="min"/>
            -
            <input name="maxRoomCount" form="search-form" class="rooms-input" min="1" max="10000" type="number" placeholder="max"/>
        </div>

        <div class="select-holder">
            <div class="select-title">Sort:</div>
            <select class="option-select">
                <option selected>Default</option>
                <option>Price</option>
                <option>Name</option>
                <option>Stars</option>
            </select>
        </div>

    </div>

    <div class="results-holder">
        @foreach (var roomInfo in ViewBag.availableRooms){
            <div class="search-result">
                <img class="hotel-image" src="https://t3.ftcdn.net/jpg/10/22/24/80/360_F_1022248039_7LDxHRi3Mlt9BK3wzLBUGZp9XAO1gt2s.jpg" />
                <div class="info-holder">
                    <div class="main-info">
                        <div class="hotel-name">@roomInfo.name</div>
                        <div class="stars">@roomInfo.stars ⭐</div>
                        <div class="price-range">@roomInfo.price$ / day</div>
                    </div>

                    <div class="line-break"></div>

                    <div class="result-body-holder">
                        <div class="other-info">
                            <div class="address">Address: @roomInfo.streetnum, @roomInfo.streetname, @roomInfo.city, @roomInfo.province, @roomInfo.country, @roomInfo.postalcode</div>
                            <div class="total-capacity-chain">Total Rooms in hotel: @roomInfo.room_count &nbsp; &nbsp; Hotel Chain: @roomInfo.chainname</div>
                            <div class="description">Hotel description: @roomInfo.description </div>
                            <div class="hotel-amenities">Hotel Amenities: living, jumping, eating</div>
                            <div class="room-capacity">Room Number: @roomInfo.roomnumber &nbsp; &nbsp; Room Capacity: @roomInfo.capacity &nbsp; &nbsp; Room View: @roomInfo.view</div>
                            <div class="room-amenities">Room Amenities: @ViewBag.roomAmenities[@roomInfo.roomnumber]</div>
                        </div>

                        <div class="button-region">
                            <button class="book-button">Book Room</button>
                        </div>
                    </div>

                </div>
            </div>
        }

        <div class="search-result">
            <img class="hotel-image" src="https://t3.ftcdn.net/jpg/10/22/24/80/360_F_1022248039_7LDxHRi3Mlt9BK3wzLBUGZp9XAO1gt2s.jpg" />
            <div class="info-holder">
                <div class="main-info">
                    <div class="hotel-name">HOTEL NAME</div>
                    <div class="stars">67 ⭐</div>
                    <div class="price-range">420$-4200$</div>
                </div>

                <div class="line-break"></div>

                <div class="result-body-holder">
                    <div class="other-info">
                        <div class="address">Address: Earth oewuhcowehuwehoiwnxowibxowxbnoiwenxioewxn</div>
                        <div class="total-capacity-chain">6969 rooms, chain chain chain chain</div>
                        <div class="description">blah blah blah blah blah blah blah blah blah blah blah blah </div>
                        <div class="hotel-amenities">Hotel Amenities: living, jumping, eating</div>
                        <div class="room-capacity">Room Capacity: 67 67</div>
                        <div class="room-view">Room View: rocks</div>
                        <div class="room-amenities">Room Amenities: funny stuff</div>
                    </div>

                    <div class="button-region">

                        <button class="book-button">Book Room</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script>
        let bookButtons = document.getElementsByClassName("book-button");
        let overlay = document.querySelector(".form-overlay")
        for (let i = 0; i < bookButtons.length; i++){
            bookButtons[i].onclick = function(){
                @* let hotelName *@
                overlay.style.display = "block";
            }
        }

        let closeButton = document.querySelector(".close-button");
        closeButton.onclick = function(){
            overlay.style.display = "none";
        }
    </script>

</body>